env-stock/
env-stock-win/
staticfiles/
simulation/env-simulation
simulation/env-simulation-wsl
the-task.txt
simulation/mqtt-logic-schema.drawio
live_stock_data_iot\settings.py
simulation/creds.py
db.sqlite3
redis_setup.txt
.env
celerybeat-schedule
db.sqlite3