{% extends 'base/base.html' %}

{% block content %}
<h2>Your Profile</h2>

<form method="post" action="{% url 'edit-profile' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{ user.username }}" readonly><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ user.email }}"><br><br>

    <h3>Favorite Tickers</h3>
    <ul>
        {% for stock in profile.favorite_tickers.all %}
            <li>{{ stock.ticker }}: {{ stock.name }}</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'edit-profile' %}">Edit Profile</a>
    <button type="submit">Update Email</button>
</form>
{% endblock %}
